doctype
html
    head
        title Details
    body
        p Name: #{vgsEntry.name}
        p Favorite Game Genre: #{vgsEntry.favoriteGameGenre}
        p Favorite Developer: #{vgsEntry.favoriteDeveloper}
        p Favorite Console Creator: #{vgsEntry.favoriteConsoleCreator}
        p Says: #{says}
        br
        #list
            a(href='/database') Go back.  
            a(href='/')   Go to home screen.