doctype
html
    head
        title Details
        link(rel='stylesheet', href='/styles/style.css')
    body
        p Name: #{vgsEntry.name}
        p Favorite Game Genre: #{vgsEntry.favoriteGameGenre}
        //- p Prefered Platformer: #{vgsEntry.preferedPlatform}
        //- p Prefered Shooter: #{vgsEntry.preferedShooter}
        //- p Prefered Open World: #{vgsEntry.preferedOpenWorld}
        //- p Favorite Sports Game: #{vgsEntry.favoriteSportsGame}
        //- p Favorite MOBA: #{vgsEntry.favoriteMOBA}
        //- p Favorite Fighter: #{vgsEntry.favoriteFighter}
        //- p Favorite Racer: #{vgsEntry.favoriteRacer}
        //- p Favorite Action: #{vgsEntry.favoriteAction}
        //- p Prefered Adventure: #{vgsEntry.preferedAdventure}
        //- p Prefered Strategy: #{vgsEntry.preferedStrategy}
        //- p Prefered Survival: #{vgsEntry.preferedSurvival}
        //- p Favorite Publisher: #{vgsEntry.favoritePublisher}
        p Favorite Developer: #{vgsEntry.favoriteDeveloper}
        //- p Favorite Character: #{vgsEntry.favoriteCharacter}
        p Favorite Console Creator: #{vgsEntry.favoriteConsoleCreator}
        p Says: #{says}
        br
        #list
            a(href='/database') Back  
            a(href='/')   Home